.carrusel {
  width: 100%;
  padding: 0 32px;
}

.contenedor__objetivos {
  margin: auto;
  margin-top: 20px;
  width: 320px;
  position: relative;
  padding: 20px 20px 40px 48px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);

  .contenedor__objetivos-img {
    position: absolute;
    background-color: #F1F2F4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 20px;
    left: -40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contenedor__objetivos-body {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h2 {
      text-align: end;
      font-size: 1.9rem;
    }

    p {
      font-size: 1.4rem;
    }

    .monto {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5px;

      p {
        font-size: 1.4rem;
      }

      span {
        font-size: 1.6rem;
        font-weight: 700;
      }
    }

    button.consejo {
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 0;
      cursor: pointer;
    }

    button.consejo {
      width: 30px;
      height: 30px;
      bottom: 10px;
      left: 10px;
      background-color: transparent;
    }
  }
}
button.agregar {
  border: none;
  display: flex;
  padding: 1.5rem 3rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 1.7rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  gap: 2rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all .6s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }
  &:focus,button:active {
    opacity: .85;
    box-shadow: none;
  }
}

// Dialogo
// .dialogoEnviar {
//   top: 0;
//   left: 0;
//   position: absolute;
//   z-index: 50;
//   width: 100%;
//   display: flex;
//   justify-content: center;

//   div {
//     width: 420px;
//     background-color: white;
//     padding: 20px 42px;
//     box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
//     position: relative;

//     button.close {
//       border: 0;
//       background-color: transparent;
//       position: absolute;
//       top: 10px;
//       right: 10px;
//       cursor: pointer;
//     }

//     h2 {
//       text-align: center;
//       font-size: 2.2rem;
//     }

//     form {
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 8px;
//       width: 100%;

//       input {
//         width: 100%;
//         height: 40px;
//         padding-left: 20px;
//         font-size: 1.4rem;
//         background-color: white;
//         border: 2px solid rgba(128, 128, 128, 0.425);
//         outline: none;
//       }

//       textarea {
//         width: 100%;
//         padding-top: 10px;
//         padding-left: 20px;
//         font-size: 1.4rem;
//         background-color: white;
//         border: 2px solid rgba(128, 128, 128, 0.425);
//         outline: none;
//       }

//       button {
//         height: 40px;
//         width: 100%;
//         border: 0;
//         background-color: #3E98EF;
//         color: white;
//       }
//     }
//   }
// }
