section.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  width: 270px;
  height: 100vh;
  background-color: #414148;
  color: white;
  font-weight: 400;
  position: relative;

  hr {
    border: 1px solid #5A5A62;
  }

  .sidebar__menu-icon {
    position: absolute;
    top: 7.5%;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F1F2F4;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

picture {
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

nav {
  height: calc(100% - 98px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 0;

    li {
      a {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 40px;
        min-width: 220px;
        height: 44px;
        border-radius: 5px;
        transition: all 200ms ease-in-out;
        font-size: 1.4rem;
        color: white;
        text-decoration: none;

        &:hover:not(.link-active) {
          background-color: rgba(128, 128, 128, 0.527);
        }

        svg {
          position: absolute;
          top: 12px;
          left: 8px;
        }
      }
    }
  }

  button {
    width: 198px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 1.4rem;
    color: white;
    background-color: #3E98EF;
    margin-bottom: 10px;
  }
}

.link-active {
  background-color: #3E98EF;
}

@media screen and (min-width: 768px) {
  section.sidebar {
    min-height: calc(100vh - 1.6rem);
    padding: 0.8rem 1.6rem;
  }

  aside {
    width: 290px;
    height: 90vh;
    border-radius: 20px;
  }

  picture {
    h1 {
      font-size: 1.6rem;
    }
  }

  nav {
    ul {
      li {
        a {
          font-size: 1.5rem;
        }
      }
    }

    button {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 992px) {
  picture {
    h1 {
      font-size: 1.7rem;
    }
  }

  nav {
    ul {
      li {
        a {
          font-size: 1.6rem;
        }
      }
    }

    button {
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  picture {
    h1 {
      font-size: 1.8rem;
    }
  }

  nav {
    ul {
      li {
        a {
          font-size: 1.7rem;
        }
      }
    }

    button {
      font-size: 1.7rem;
    }
  }
}
