
<div class="contenedor__formulario">

  <header class="contenedor__formulario-header">
    <picture class="contenedor__formulario-img">
      <img src="../../../../assets/image/login/logo.jpg" alt="">
      <span>Gestion de Finanzas</span>
    </picture>
    <h2>Registrarse para continuar</h2>
  </header>

  <ng-container *ngIf="username == null">
    <form [formGroup]="formularioValidarCorreo" (ngSubmit)="submitFormularioValidarCorreo()" novalidate class="contenedor__formulario-form">
      <input class="contenedor__formulario-inpval" type="text" placeholder="Introducir usuario">
      <button type="submit" class="contenedor__formulario-val">Continuar</button>
    </form>
  </ng-container>

  <ng-container *ngIf="username != null">
    <form [formGroup]="formularioRegistrarUsuario" (ngSubmit)="submitFormularioRegistrarUsuario()" novalidate class="contenedor__formulario-form">

      <p>{{ username }}</p>
      <input formControlName="password" type="password" placeholder="Introducir contraseña">
      <button type="submit">Registrarse</button>
    </form>
  </ng-container>


  <a routerLink="/auth/login">Iniciar sesion</a>
</div>
