.contenedor__formulario {
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .borde {
    width: 100%;
    height: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3E98EF;

  }

  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input,
    textarea {
      background-color: transparent;
      border: 2px solid rgba(128, 128, 128, 0.333);
      outline: none;
      padding-left: 20px;
      padding-top: 5px;

      &:focus {
        border: 2px solid #3E98EF;
      }
    }

    input {
      height: 40px;
    }

    select {
      height: 40px;
      outline: none;
      border: 2px solid rgba(128, 128, 128, 0.333);

      option {
        font-size: 1.2rem;
      }

      &:focus {
        border: 2px solid #3E98EF;
      }
    }

    button {
      color: white;
      background-color: #354565;
      height: 40px;
      border: 0;
    }

    span {
      margin: auto;
    }
  }
}
