.contenedor {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #FAFBFC;
  position: relative;
  z-index: 10;
}

.contenedor__formulario {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  a {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: #0052cc;
    text-decoration: none;
    cursor: pointer;
  }
}

.contenedor__formulario-header {
  .contenedor__formulario-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    img {
      width: 40px;
      height: 50px;
      object-fit: cover;
    }

    span {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.contenedor__formulario-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 32px;
  gap: 16px;

  input {
    width: 100%;
    height: 21px;
    padding: 9px 9px;
    font-size: 1.5rem;
    border: 2px solid #DEE0E6;
    border-radius: 2px;
    outline: none;
    transition: all 200ms ease-in-out;

    &::placeholder {
      font-size: 1.4rem;
    }

    &:focus {
      border: 2px solid #0052cc;
    }
  }

  button {
    background-color: #0052cc;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    height: 39px;
    border: 2px solid #0052cc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
      background-color: rgb(1, 94, 255);
    }
  }
}

.contenedor__formulario-imgizq {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -10;
  display: none;

  img {
    width: 340px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
  }
}

.contenedor__formulario-imgder {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -10;
  display: none;

  img {
    width: 340px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 400px) {
  .contenedor {
    padding: 30px 0px;
  }

  .contenedor__formulario {
    width: 360px;
    height: auto;
    padding: 30px 24px;

  }

  .contenedor__formulario-form {
    input {
      width: 300px;
      font-size: 1.6rem;
    }

    button {
      width: 318px;
      font-size: 1.6rem;
    }
  }
  .contenedor__formulario-header {
    .contenedor__formulario-img {
      img {
        width: 70px;
        height: 80px;
      }

      span {
        font-size: 2.7rem;
      }
    }

    h2 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 800px) {
  .contenedor__formulario-imgizq {
    display: block;
    img {
      width: 200px;
      height: 300px;
      bottom: -60px;
    }
  }

  .contenedor__formulario-imgder {
    display: block;

    img {
      width: 200px;
      height: 300px;
      bottom: -50px;
    }
  }
  .contenedor__formulario {
    width: 360px;
    height: auto;

  }
}

@media screen and (min-width: 1000px) {
  .contenedor__formulario-imgizq {
    img {
      width: 320px;
      height: 400px;
    }
  }

  .contenedor__formulario-imgder {
    img {
      width: 320px;
      height: 400px;

    }
  }
}
@media screen and (min-width: 1200px) {
  .contenedor__formulario-imgizq {
    img {
      width: 410px;
      height: 480px;
    }
  }

  .contenedor__formulario-imgder {
    img {
      width: 410px;
      height: 480px;
    }
  }
}
