<div class="contenedor__formulario">
  <header class="contenedor__formulario-header">
    <picture class="contenedor__formulario-img">
      <img src="../../../../assets/image/login/logo.jpg" alt="">
      <span>Gestion de Finanzas</span>
    </picture>
    <h2>Inicia sesión para continuar</h2>
  </header>
  <ng-container *ngIf="!existeElCorreo && emailUserUrl == null">
    <form novalidate [formGroup]="formularioValidarCorreo" (ngSubmit)="submitValidarCorreoExistencia()" class="contenedor__formulario-form">
      <input type="email" formControlName="username" placeholder="Email. ej: example@gmail.com" class="contenedor__formulario-inpval">
      <button type="submit" class="contenedor__formulario-val">Continuar</button>
    </form>
  </ng-container>


  <ng-container *ngIf="existeElCorreo || emailUserUrl != null">
    <form [formGroup]="formularioIniciarSesion" (ngSubmit)="submitEntrarAlSistema()" novalidate class="contenedor__formulario-form">
      <p>{{ emailUserSiExiste || emailUserUrl }}</p>

      <input type="password" formControlName="password" placeholder="Introducir contraseña">

      <button type="submit">Iniciar sesion</button>
    </form>
  </ng-container>
  <a routerLink="/auth/register">Crear cuenta</a>
</div>
