.contenedor{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section.tabla{
  background-color: white;
  border-radius: 5px;
  width: 100%;
}
section.grafico {
  width: 100%;
  height: 300px;
  padding: 20px 0;
  border-radius: 20px;
  background-color: white;
  position: relative;

  button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
    background-color: #3E98EF;
    cursor: pointer;
  }

  button.consejo {
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-color: transparent;
  }

  div.consejo {
    display: none;
    position: absolute;
    top: 10%;
    left: 12%;
  }
  button.consejo:hover + div.consejo {
    display: block;
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.8rem;
    font-weight: 700;
  }

}

div {
  width: 100%;
  height: 100%;
}
