div.contenedor__dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin-bottom: -60px;
}
.contanedor__loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
aside{
  display: none;
  position: fixed;
  left: 0;
  z-index: 20;
}

header {
  width: 100%;
  position: sticky;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  margin-right: 20px;
}

header.sticky {
  background-color: rgba(0, 0, 0, 0.149);
  transform: translateY(-1.5rem);
  z-index: 50;
}
main {
  margin-top: 20px;
  width: 100%;
  position: relative;
}

footer {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 700px) {
  header{
    margin-top: 4rem;
    top: 4rem; /* ajustar este valor según sea necesario */
  }
  div.contenedor__dashboard {
    align-items: end;
  }
  aside{
    display: block;
  }
  header {
    width: calc(100vw - 360px);
  }
  main {
    width: calc(100vw - 340px);
  }
  footer {
    width: calc(100vw - 340px);
  }
}
