<!-- data-aos="zoom-in" data-aos-delay="300" data-aos-duration="500" -->
<aside [ngClass]="estadoMenuDesplegable == 'block' ? '' : ''" [ngStyle]="{ 'display': estadoMenuDesplegable }">
  <app-sidebar [estado]="estadoMenuDesplegable" (estadoDesplegarMenu)="escucharEstadoDesplegarMenu($event)"></app-sidebar>
</aside>
<!-- <div *ngIf="mostrarCarga" class="contanedor__loader">
  <app-loader></app-loader>
</div> -->
<div class="contenedor__dashboard">
  <header [ngClass]="{ 'sticky': isSticky }">
    <app-navbar [estado]="estadoMenuDesplegable" (estadoDesplegarMenu)="escucharEstadoDesplegarMenu($event)"></app-navbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
