.card {
  padding: 70px 40px 0px;
  position: relative;
  div.crear__presupuesto{
    position: absolute;
    top: 0;
    right: 60px;
  }
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 320px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 20px;
  position: relative;
  .cuadro{
    top: -20px;
    left: 20px;
    position: absolute;
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
.contnedor__text{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  h2{
    font-size: 3rem;
  }
  span{
    font-size: 2.4rem;
  }
}
button.learn-more{
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  svg{
    background-color: #4B66B5;
    padding: 10px;
  }
}

button.consejo {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

button.consejo {
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  background-color: transparent;
}
div.consejo {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button.consejo:hover + div.consejo {
  display: block;
}
.alert{
  background-color: #4B66B5;
  color: white;
  display: inline-block;
  width: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px 32px;
  margin-bottom: 25px;
}
