.contenedor{
  display: flex;
  flex-direction: column;
}
.contenedor__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  background-color: white;
  border-radius: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.443);
  picture{
    display: flex;
    align-items: center;
    gap: 10px;
    img{
      background-color: #3E98EF;
      width: 40px;
      height: 40px;
      padding: 0px 8px;
      border-radius: 50%;
    }
    span{
      font-size: 1.4rem;
    }
  }
  p{
    display: flex;
    gap: 17px;
  }
}
