.footer {
  // background-color: #FCFDFD;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.footer__span-text {
  text-align: center;
  color: #666565;
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer__span-text {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .footer__span-text {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__span-text {
    font-size: 1.7rem;
  }
}
