<p-table [value]="dataMovimiento" [paginator]="true" [rows]="7" [tableStyle]="{ 'width': '100%' }">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code" style="width:20%">Concepto</th>
      <th pSortableColumn="name" style="width:20%">Importe</th>
      <th pSortableColumn="category" style="width:20%">Tipo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <picture>
          <img [src]="product.logoConcepto" alt="">
          <span> {{ product.concepto }} </span>
        </picture>
      </td>
      <td>{{ product.importe }}</td>
      <td>{{ product.tipo }}</td>
    </tr>
  </ng-template>
</p-table>
