// tabla
th{
  font-size: 1.7rem;
  background-color: #3E98EF !important;
  color: white !important;
  border-right: 1px solid white !important;
  text-align: center !important;
}

td{
  font-size: 1.4rem;
  text-align: center !important;
}
