<section class="blog">
  <div class="btn__asesoria">

    <div class="input-wrapper">
      <button class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
          <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff"
            d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z">
          </path>
          <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20"></path>
        </svg>
      </button>
      <input placeholder="Buscar categoria" class="input" name="text" type="text" [(ngModel)]="categoria">
    </div>

    <a routerLink="/dashboard/asesoria/asesor">
      <button class="asesoria">
        <img src="../../../../../../assets/gif/asesoria/logo.png" alt="">
      </button>
    </a>
  </div>

  <section class="contenedor">
    <!-- <div class="mensaje" *ngIf="jsonBlogs.length == 0 || (jsonBlogs | filter: {categoria: categoria}).length == 0">
      No se encontraron resultados para la categoría seleccionada.
    </div> -->

    <div class="contenedor__blogs" *ngFor="let item of jsonBlogs; let i = index"
      [class.hide]="categoria != item.categoria && categoria != ''">
      <picture class="contenedor__blogs-img">
        <img [src]="item.icon" alt="">
      </picture>
      <div class="contenedor__blogs-texto">
        <span>{{ item.categoria }}</span>
        <h2 class="contenedor__blogs-title">{{ item.pregunta }}</h2>
        <p class="contenedor__blogs-text">{{ item.respuesta }}</p>
      </div>
    </div>
  </section>
</section>
