.contenedor__formulario {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: #0052cc;
    text-decoration: none;
    cursor: pointer;
  }
}

.contenedor__formulario-header {
  .contenedor__formulario-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    img {
      width: 40px;
      height: 50px;
      object-fit: cover;
    }

    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  h2 {
    margin: -5px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
}

.contenedor__formulario-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 32px;
  gap: 10px;
  p {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;
  }

  input {
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
    border: 2px solid #DEE0E6;
    border-radius: 2px;
    outline: none;
    padding-left: 10px;
    transition: all 200ms ease-in-out;

    &::placeholder {
      font-size: 1.4rem;
    }

    &:focus {
      border: 2px solid #0052cc;
    }
  }

  button {
    background-color: #0052cc;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    height: 39px;
    border: 2px solid #0052cc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
      border: 2px solid rgb(1, 94, 255);
      background-color: rgb(1, 94, 255);
    }
  }

  .contenedor__formulario-val {
    background-color: #61BD4F;
    border: 2px solid #61BD4F;

    &:hover {
      background-color: rgb(108, 220, 86);
      border: 2px solid rgb(108, 220, 86);
    }

    &:disabled {
      background-color: #EBEDFB;
      color: #89879A;
    }
  }

  .contenedor__formulario-inpval {
    &:focus {
      border: 2px solid #38383a;
    }
  }
}



@media screen and (min-width: 400px) {
  .contenedor {
    padding: 30px 0px;
  }

  .contenedor__formulario {
    width: 360px;
    height: auto;
    padding: 30px 24px;

  }

  .contenedor__formulario-form {
    input {
      width: 300px;
      font-size: 1.6rem;
    }

    button {
      width: 300px;
      font-size: 1.6rem;
    }
  }

  .contenedor__formulario-header {
    .contenedor__formulario-img {
      img {
        width: 70px;
        height: 80px;
      }

      span {
        font-size: 2.2rem;
      }
    }

    h2 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 800px) {
  .contenedor__formulario-imgizq {
    display: block;

    img {
      width: 200px;
      height: 300px;
      bottom: -60px;
    }
  }

  .contenedor__formulario-imgder {
    display: block;

    img {
      width: 200px;
      height: 300px;
      bottom: -50px;
    }
  }

  .contenedor__formulario {
    width: 360px;
    height: auto;

  }
}

@media screen and (min-width: 1000px) {
  .contenedor__formulario-imgizq {
    img {
      width: 320px;
      height: 400px;
    }
  }

  .contenedor__formulario-imgder {
    img {
      width: 320px;
      height: 400px;

    }
  }
}

@media screen and (min-width: 1200px) {
  .contenedor__formulario-imgizq {
    img {
      width: 410px;
      height: 480px;
    }
  }

  .contenedor__formulario-imgder {
    img {
      width: 410px;
      height: 480px;
    }
  }
}
