/* You can add global styles to this file, and also import other style files */
// Libreria para las animaciones del dashboads
@import url('../node_modules/aos/dist/aos.css');
// Fuente de la pagina: Web Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;600;700&display=swap');
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  position: relative;
  min-height: 100vh;
}
body{
  background-color: #F1F2F4;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Anuphan', sans-serif;
  font-size: 1rem;
  margin-bottom: 60px;
  box-sizing: border-box;
}
