section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  div.grafico{
    width: 50%;
    height: 300px;
  }
  div.tabla{
    width: 100%;
    padding-right: 20px;
    position: relative;
    margin-bottom: 60px;
    .btn__crear-movimiento{
      position: absolute;
      top: -45px;
      right: 20px;
    }
  }
}
// tabla
th{
  font-size: 1.7rem;
  background-color: #3E98EF !important;
  color: white !important;
  border-right: 1px solid white !important;
  text-align: center !important;
}

td{
  font-size: 1.4rem;
  text-align: center !important;
}
// Check

