section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  div.grafico{
    width: 50%;
    height: 300px;
  }
  div.tabla{
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
    padding-right: 20px;
    position: relative;
    .btn__crear-movimiento{
      position: absolute;
      top: -45px;
      right: 20px;
      display: flex;
      gap: 8px;
    }
  }
}


